.contact-page{
  padding-top: 6.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
}
.icon- {
  display: flex;
  gap: 0.5rem;
}

.container.contact__container {
  width: 70%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg);
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.contact__option:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, var(--color-primary-variant) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(-9px);
}

.contact__option a {
  margin-top: 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--color-bg);
  border: 2px solid var(--color-primary);
  resize: none;
  font-family: "Space Mono", monospace;
  color: var(--color-light);
  transition: var(--transition);
}

textarea:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, var(--color-primary-variant) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(-9px);
}

/* MEDIA QUERIES MEDIUM */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
    }
}
/* MEDIA QUERIES SMALL */
@media screen and (max-width: 600px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
}




