.skills__details {
  /* border: 1px solid var(--color-light);  */
  padding: 12px; /* Add padding to adjust the spacing between the border and the icon */
  display: flex; /* Use flex container */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 100px;
  height: 100px;
  flex-direction: column;
  gap: 0.5rem;
  transition: var(--transition);
  border: 1px solid var(--color-primary);
  background: rgba(255, 255, 255, 0.042);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 0.7rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.skills__frontend, .skills__tools{
  height: 450px;
}
.skills-page {
  padding-top: 6.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}
/* .skills__details:hover {
  background: var(--color-bg);
  border: 1px solid var(--color-primary);
} */
.react-icon {
  color: var(--color-primary);
}
.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.skills__container > div {
  height: auto;
  padding: 2.4rem 5rem;
  /* border: 1.5px solid var(--color-primary); */
  background: rgba(255, 255, 255, 0.042);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 1.3rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: var(--transition);
  padding-bottom: 5rem;
}

.skills__container > div:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, var(--color-primary-variant) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translateY(-9px);
}

.skills__container > div > h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skills__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* MEDIA QUERIES MEDIUM */
@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .skills__content {
    padding: 1rem;
  }
}

/* MEDIA QUERIES SMALL */
@media screen and (max-width: 600px) {
  .skills__container {
    gap: 1rem;
  }
  .skills__container > div {
    width: 100%;
  }
  .skills__frontend, .skills__tools{
    height: auto;
  }
}
