.work-experience-card{
    background: var(--color-bg);
    padding: 2rem;
    margin:  1rem;
    height: 450px;
    transition: var(--transition);
    background: rgba(255, 255, 255, 0.042);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1.3rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.work-experience-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, var(--color-primary-variant) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translateY(-5px);
}

.list-hash{
    color: rgb(127, 187, 255);
    font-size: 1rem;
}

.work-experience-card h6{
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.work-duration{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
    background: rgba(255, 255, 255, 0.042);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 0.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.work-experience-card ul li{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

@media screen and (max-width: 600px) {
    .work-experience-card{
        height: auto;
        padding: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .work-experience-card{
        height: auto;
    }
}