nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.3rem 0.48rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    display: flex;
    gap: 0.3rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.042);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1rem;
    color: var(--color-light);

}
nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    /* background: var(--color-bg); */
    color: var(--color-primary);
}

