nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.3rem 0.48rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    display: flex;
    gap: 0.3gitr rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    box-shadow: rgba(109, 77, 127, 0.16) 0px 10px 36px 0px, rgba(209, 209, 209, 0.09) 0px 0px 0px 1px;
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1rem;
    color: var(--color-light);

}
nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    /* background: var(--color-bg); */
    color: var(--color-primary);
}

